/** 默认字体 */
@base-font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
/** 输入框默认边距 */
@form-control-padding: 2px 8px;
@form-control-bg: #eef2f7;

.base-style-active-form-control {
	border: 1px solid #ffffff00;
	&:focus {
		border: 1px solid #0e8de290;
		box-shadow: 0px 0px 4px #0e8de252;
	}

	&:focus:not([type='checkbox'], [type='radio']) {
		border: 1px solid #0e8de290;
		box-shadow: 0px 0px 4px #0e8de252;
		background-color: white !important;
	}

	&:hover {
		background-color: #ebeef4;
	}
}

.base-style-input {
	outline: none;
	border: 1px solid #ffffff00;
	padding: @form-control-padding;
	margin: 0px;
	background-color: @form-control-bg;
	border-radius: 2px;
	color: black;

	&::placeholder {
		color: #bababa;
	}
}

.base-style-button {
	appearance: none;
	border: 1px solid #ffffff00;
	background-color: #94bfff;
	color: white;
	border-radius: 4px;
	cursor: pointer;

	&:active {
		box-shadow: 0px 0px 8px #0e8de2a5;
	}
}

container-element {
	position: fixed;
	top: 10%;
	left: 10%;
	z-index: 99;
	text-align: left;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #636363;
	font: 12px/1.5 @base-font-family;
}

.header {
	@base-height: 32px;
	@size: 18px;

	cursor: move;
	white-space: nowrap;
	justify-content: end;
	display: flex;
	padding-right: 12px;
	line-height: @base-height;
	height: @base-height;
	vertical-align: middle;
	background: #fbfbfbee;
	border-radius: 4px;
	border: 1px solid #e6e6e6;
	box-shadow: 0 0 24px -12px #3f3f3f;
	margin-bottom: 4px;
	user-select: none;

	& > * {
		margin-left: 12px;
	}
	& > * {
		text-align: center;
		height: @size;
		line-height: @size;
		margin-top: calc((@base-height - @size) / 2);
	}

	.close {
		color: black;
		width: @size;
		background: #ff00004f;
		cursor: pointer;
		border-radius: 100%;
	}

	.switch {
		color: black;
		width: @size;
		background: #ffa6003e;
		cursor: pointer;
		border-radius: 100%;
	}

	.panel-switch {
		color: black;
		width: @size;
		background: #14a00d50;
		cursor: pointer;
		border-radius: 100%;
	}

	.logo {
		cursor: pointer;
		border-radius: 100%;
	}
}

.body {
	padding: 8px;
	width: auto;
	height: 100%;
	overflow: auto;
	background-color: white;
	box-shadow: 0 0 24px -12px #3f3f3f;
	border: 1px solid #e6e6e6;
	border-radius: 4px;
}

.script-panel + .script-panel {
	margin-top: 12px;
}

.footer {
	cursor: move;
	border-top: 1px solid #d9d9d9;
	color: grey;
}

.card + .card {
	margin-top: 12px;
}

.card {
	border-radius: 3px;
	padding: 4px;

	width: -webkit-fill-available;
}

.notes {
	background: #0099ff0e;
	border-left: 4px solid #0099ff65;
}

.tooltip {
	margin: 12px 0px 0px 12px;
	padding: 4px;
	color: black;
	background: #f0f0f0;
	box-shadow: 0px 0px 4px #949494;
	position: fixed;
	white-space: normal;
	max-width: 200px;
	height: auto;
	border-radius: 2px;
}

.configs {
	display: table;

	background: #e1e1e107;
	border-left: 4px solid #cecece;

	.configs-body {
		display: table-row-group;

		config-element + config-element {
			label {
				padding-top: 3px;
			}
			.config-wrapper {
				padding-top: 3px;
			}
		}

		config-element {
			width: 100%;
			display: table-row;

			.config-wrapper {
				display: table-cell;
			}

			.config-wrapper > *:not(.tooltip) {
				background-color: @form-control-bg;
				border-radius: 2px;
				color: black;
			}
			.config-wrapper > *:disabled {
				cursor: not-allowed;
				background-color: #f7f7f78b;
			}

			label {
				font-size: 13px;
				white-space: nowrap;
				color: #4e5969;
				display: table-cell;
				padding-right: 12px;
				text-align: left;
				vertical-align: top;
			}

			select {
				outline: none;
				border: none;
				border: 1px solid #e4e4e4;
				border-radius: 4px;
				padding: @form-control-padding;
				height: 22px;

				.base-style-active-form-control();
			}

			textarea {
				padding: @form-control-padding;
				outline: none;
				border: none;
				.base-style-active-form-control();
			}

			input {
				.base-style-input();
				.base-style-active-form-control();
			}

			/** check box 的样式 */
			.input-switch {
				appearance: none;
				width: fit-content;
				min-width: 32px;
				height: 16px;
				border-radius: 100px !important;
				display: flex;
				align-items: center;
				padding: 2px 4px;
				transition: all 0.2s ease-in-out;
				width: auto;

				&:checked {
					background: #1890ff !important;
				}

				&:checked::before {
					transform: translate(100%, 0px);
				}

				&::before {
					background-color: #fff;
					border-radius: 9px;
					box-shadow: 0 2px 4px #00230b33;
					width: 12px;
					height: 12px;
					content: '';
				}
			}

			input:not([type='checkbox'], [type='radio']),
			textarea,
			select {
				width: -webkit-fill-available;
			}

			input[type='checkbox'],
			input[type='radio'],
			input[type='range'] {
				accent-color: #0e8ee2;
			}
		}
	}
}

// 消息推送

.message-container {
	margin-bottom: 4px;
	position: absolute;
	bottom: 100%;
	left: 50%;
	width: 100%;
	transform: translate(-50%, 0px);

	// 提示内容
	message-element {
		display: block;
		border-radius: 4px;
		margin-bottom: 4px;
		padding: 4px 12px;
		font-size: 12px;

		.message-text {
			letter-spacing: 1px;
			font-weight: bold;
		}

		// 关闭按钮
		.message-closer {
			width: 18px;
			cursor: pointer;
			background-color: white;
			color: #a8a8a8;
			border-radius: 100%;
			float: right;
			text-align: center;
			height: 18px;
			line-height: 18px;
		}

		&.error {
			background-color: #ff000699;
			color: #fff;
			border: 1px solid #f36c70;
		}

		&.info {
			background-color: #2196f3a3;
			color: white;
			border: 1px solid #1890ff;
		}

		&.success {
			background-color: #84d346d1;
			color: #fff;
			border: 1px solid #6fd91d;
		}

		&.warn {
			background-color: #fbbf30e6;
			color: #725206;
			border: 1px solid #ffc107;
		}
	}
}

model-element {
	position: absolute;
	top: 50%;
	left: 50%;
	background-color: white;
	border-radius: 4px;
	box-shadow: 0px 0px 24px -12px black;
	border: 1px solid #929292;
	min-width: 300px;
	height: fit-content;
	transform: translate(-50%, -50%);
	padding: 12px 18px 18px 18px;
	font-family: @base-font-family;
	z-index: 99999;

	.model-profile {
		zoom: 0.8;
		color: #969696;
		user-select: none;
		margin-bottom: 4px;
	}

	.model-title {
		font-size: 18px;
		font-weight: bold;
		user-select: none;
	}

	.model-body {
		margin: 12px 0px;
	}

	.model-footer {
		display: flex;
		white-space: nowrap;
		justify-content: end;

		* + * {
			margin-left: 12px;
		}
	}

	.model-input {
		.base-style-input();
		.base-style-active-form-control();
		width: -webkit-fill-available;
	}

	.model-cancel-button {
		.base-style-button();
		min-width: 60px;
		color: gray;
		background-color: white;
		border: 1px solid #dcdcdc;
	}
	.model-confirm-button {
		.base-style-button();
		min-width: 60px;
	}
}

model-element.alert {
	.model-input,
	.model-cancel-button {
		display: none;
	}
	.model-confirm-button {
		margin: 0;
	}
}

model-element.prompt {
	.model-input,
	.model-cancel-button,
	.model-confirm-button {
		display: block;
	}
}

model-element.confirm {
	.model-input {
		display: none;
	}
}

.model-container {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 9999999;
}

.model-wrapper {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background-color: rgba(0, 0, 0, 0.265);
}

.pointer {
	cursor: pointer;
}

.project-selector {
	background: #ffffff00;
	border: none;
	font-size: inherit;
	color: inherit;
}

.separator {
	display: flex;
	align-items: center;
	text-align: center;
	padding: 4px 0px;
}

.separator::before,
.separator::after {
	content: '';
	flex: 1;
	border-bottom: 1px solid #63636346;
}

.separator:not(:empty)::before {
	margin-right: 0.25em;
}

.separator:not(:empty)::after {
	margin-left: 0.25em;
}

container-element.close {
	display: none;
}

.minimize {
	.body,
	.footer,
	.project-selector,
	.panel-switch {
		display: none;
	}
}
