body,
html,
#app {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
	min-width: 500px;
	min-height: 300px;
}
/** 兼容 win11 以下的软件不会自动带有阴影和边框 */
html.window-frame {
	border: 1px solid #e1e1e1;
	overflow: hidden;
	box-shadow: 0px 0px 12px #d3d3d3;
}
#app {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.pointer {
	cursor: pointer;
}
/* 设置滚动条的样式 */
::-webkit-scrollbar {
	width: 10px;
	height: 6px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
	background: #ffffff00;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
	border-radius: 2px;
	background: rgba(0, 0, 0, 0.1);
	box-shadow: inset006pxrgba(0, 0, 0, 0.3);
}
/** 通知栏样式 */
.arco-notification {
	/** 主容器 */
	/** 底部按钮 */
}
.arco-notification .arco-notification-notice {
	padding: 12px;
}
.arco-notification .arco-notification-notice-btn {
	margin-top: 8px;
}
.arco-notification .arco-notification-notice-with-icon .arco-notification-notice-description {
	margin-left: 0;
	font-size: 12px;
}
.arco-notification .arco-notification-notice-with-icon .arco-notification-notice-message {
	margin-left: 36px;
}
.arco-notification .arco-notification-notice-description {
	overflow: auto;
}
.anticon {
	vertical-align: 0px !important;
}
.markdown {
	font-size: 14px;
	border: 1px solid #e6e6e6;
	border-radius: 4px;
	padding: 4px;
}
.markdown code {
	margin: 0px 2px !important;
	padding: 2px 4px !important;
	font-size: 90% !important;
	color: #323030;
	background-color: #eaeaea;
	border-radius: 4px;
}
em {
	background-color: yellow;
	font-weight: bold;
}
body .arco-tree li span.arco-tree-iconEle {
	vertical-align: unset;
}
body .arco-tree li .arco-tree-node-content-wrapper {
	padding: 0;
}
body .arco-tree li {
	padding: 0px 8px 0px 0px !important;
	text-overflow: hidden;
	overflow: hidden;
	white-space: nowrap;
}
body .arco-tree-title {
	padding: 4px 8px 4px 0px !important;
}
body .arco-tree * {
	animation-duration: 0s !important;
	animation: none !important;
	transition: none !important;
}
body .arco-tree-iconEle.arco-tree-icon__customize {
	width: 18px;
}
body .arco-tree li span.arco-tree-switcher {
	width: 18px;
}
body[arco-theme='dark'] {
	color: #cccccc;
	background-color: #2c2c2c;
	/** browser-panel toc */
	/* 滚动槽 */
	/* 滚动条滑块 */
}
body[arco-theme='dark'] .bp-toc {
	color: #cccccc;
	background-color: #2c2c2c;
}
body[arco-theme='dark'] .text-secondary {
	color: #aaaaaa !important;
}
body[arco-theme='dark'] .title {
	color: #cccccc;
	background-color: #2c2c2c;
}
body[arco-theme='dark'] #title ul li {
	color: #cccccc;
}
body[arco-theme='dark'] ::-webkit-scrollbar-track {
	background: #9693933a;
}
body[arco-theme='dark'] ::-webkit-scrollbar-thumb {
	background: #c9bfbf98;
}
body[arco-theme='dark'] a,
body[arco-theme='dark'] a.link {
	color: #61a5e4 !important;
}
body[arco-theme='dark'] .border-end,
body[arco-theme='dark'] .border-start,
body[arco-theme='dark'] .border-bottom,
body[arco-theme='dark'] .border-top {
	border-color: #4b4848 !important;
}
body[arco-theme='dark'] * {
	box-shadow: none !important;
}
body[arco-theme='dark'] .entity:hover {
	background: #3b3b3b !important;
}
body[arco-theme='dark'] .screenshot-item {
	border: 1px solid;
	border-color: #4b4848 !important;
}
body[arco-theme='dark'] .breadcrumb {
	background-color: #2c2c2c;
	border: 1px solid #4b4848;
}
body[arco-theme='dark'] .path-item {
	color: #cccccc;
}
body[arco-theme='dark'] .entity {
	border-bottom: 1px solid #4b4848;
}
body[arco-theme='dark'] .entity-properties {
	background-color: #4b4b4b;
	color: #aaaaaa;
}
.arco-trigger-popup {
	animation-duration: 0s !important;
	animation: none !important;
	transition: none !important;
}
.arco-trigger-popup * {
	animation-duration: 0s !important;
	animation: none !important;
	transition: none !important;
}
.arco-dropdown-option-content {
	font-size: 12px;
	line-height: 28px;
}
/** 简单模式下不要有头部间隔 */
.arco-modal-simple .arco-modal-header {
	margin-bottom: 0px;
}
/** 防止被标题栏遮挡 */
.arco-drawer-container,
.arco-modal-container {
	top: 32px;
}
.arco-notification-list,
.arco-message-list {
	top: 52px;
}
