.markdown-text {
	/**
        以下是 table 样式
    */
}
.markdown-text details {
	border-radius: 2px;
	padding: 30px 0px 30px 20px;
	border-left: 8px solid #d4d4d4;
	background-color: rgba(222, 222, 222, 0.115);
}
.markdown-text img {
	max-width: 100%;
}
.markdown-text h3,
.markdown-text h4,
.markdown-text h5,
.markdown-text h6 {
	font-weight: bold;
}
.markdown-text h1 code,
.markdown-text h2 code,
.markdown-text h3 code,
.markdown-text h4 code,
.markdown-text h5 code,
.markdown-text h6 code {
	padding: 0.4rem 0.6rem;
	background-color: #f0f0f0;
	border-radius: 6px;
	font-size: 1.5rem;
	font-weight: bold;
}
.markdown-text h1:hover .header-anchor,
.markdown-text h2:hover .header-anchor,
.markdown-text h3:hover .header-anchor,
.markdown-text h4:hover .header-anchor,
.markdown-text h5:hover .header-anchor,
.markdown-text h6:hover .header-anchor {
	display: inline-block;
}
.markdown-text p code,
.markdown-text a code,
.markdown-text span code,
.markdown-text li code {
	padding: 0.2rem 0.5rem;
	background-color: #f0f0f0;
	border-radius: 6px;
	font-size: 1rem;
	font-weight: bold;
}
.markdown-text pre:not([class]) > code:not([class]) {
	display: block;
	padding: 20px;
	background-color: #f0f0f0;
	font-family: monospace;
	margin: 0px;
}
.markdown-text pre.hljs {
	padding: 20px;
}
.markdown-text .block-code:hover .line-suffix .code-lang {
	transition: all 0.3s ease-out;
	transform: translate(0px, 12px);
	opacity: 1;
	visibility: visible;
}
.markdown-text .block-code:hover .line-suffix .code-copy {
	transition: all 0.3s ease-out;
	transform: translate(0px, 12px);
	opacity: 1;
	visibility: visible;
}
.markdown-text .block-code .line-suffix {
	display: flex;
	width: 100%;
	justify-content: flex-end;
	height: 0px;
}
.markdown-text .block-code .line-suffix .code-lang {
	height: 14px;
	transition: all 0.3s ease-in;
	opacity: 0;
	visibility: hidden;
	background-color: #81818159;
}
.markdown-text .block-code .line-suffix .code-copy {
	height: 14px;
	transition: all 0.3s ease-in;
	opacity: 0;
	visibility: hidden;
	background-color: #81818159;
}
.markdown-text .block-code .line-suffix span {
	color: white;
	padding: 4px 4px 4px 4px;
	margin: 0px 10px 0px 10px;
	border-radius: 4px;
	cursor: pointer;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}
.markdown-text .block-code pre {
	margin-top: 4px;
	padding: 0px 20px 10px 0px;
	display: flex;
}
.markdown-text .block-code pre code {
	max-width: 100%;
	padding: 20px;
	padding-bottom: 10px;
	overflow: auto;
}
.markdown-text .block-code pre .line-count {
	padding: 20px;
	color: #9e9e9e;
	border-right: 1px solid #000000;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}
.markdown-text .header-anchor {
	display: none;
}
.markdown-text ::selection {
	color: white;
	background-color: #3368f4;
}
.markdown-text blockquote {
	border-radius: 2px;
	padding: 4px 0px 4px 20px;
	margin: 12px 0px;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.65);
	border-left: 8px solid rgba(0, 0, 0, 0.25);
	background-color: rgba(222, 222, 222, 0.115);
}
.markdown-text blockquote p {
	margin-bottom: 0px;
}
.markdown-text table {
	border-spacing: 0px;
	text-indent: unset;
	box-sizing: unset;
	border-collapse: unset;
}
.markdown-text table tr th {
	font-weight: 700;
	background-color: #e5e7eb;
}
.markdown-text table tr:nth-child(even) {
	background-color: #f5f5f5;
}
.markdown-text th,
.markdown-text td {
	border: 1px solid #ddd;
	padding: 10px;
}
.markdown-text hr {
	background: #e8e8e8;
	margin: 24px 0px 24px 0px;
	padding: 0px;
	border: unset;
	height: 1.5px;
}
.markdown-text a::selection {
	color: blue;
}
.markdown-text a {
	color: #2f9bff;
}
.markdown-text ul {
	margin-block-start: 0.5em;
	margin-block-end: 1em;
	padding-inline-start: 18px;
}
.markdown-text ul li {
	line-height: 26px;
}
.markdown-text .toc-li {
	display: block;
}
.markdown-text .none-select {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}
