/**

panel style

*/
ocs-panel {
  position: fixed;
  top: 30%;
  left: 40%;
  min-width: 20%;
  background: white;
  z-index: 99999999;
  border-radius: 4px;
  text-align: left;
  box-shadow: 0px 2px 6px #848484;
}
ocs-panel .ocs-panel-header {
  gap: 12px;
  display: flex;
  padding: 4px;
  border-bottom: 1px solid #c6c6c6;
}
ocs-panel .ocs-panel-header .title {
  cursor: pointer;
  font-size: 14px;
  margin: 0;
  padding: 0;
}
ocs-panel .ocs-panel-header .title.active {
  font-weight: bold;
}
ocs-panel .ocs-panel-container {
  font-size: 12px;
  padding: 4px;
}
ocs-panel .ocs-panel-container ul li {
  list-style: inside;
}
.ocs-panel-footer {
  font-size: 1px;
  color: #c5c5c5;
  border-top: 1px solid #c6c6c6;
  margin-top: 8px;
  text-align: right;
  padding-right: 4px;
}
.ocs-setting-items {
  display: grid;
  grid-template-columns: min-content auto;
  gap: 8px;
  white-space: nowrap;
  font-size: 12px;
}
.ocs-setting-items label::after {
  content: ": ";
}
.ocs-setting-items select {
  font-size: 12px;
  outline: none;
  border: none;
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  width: 100%;
}
.ocs-setting-items input {
  outline: none;
  border: none;
  border-bottom: 1px solid #e4e4e4;
  background: #fbfbfb;
  border-radius: 4px;
  padding-left: 8px;
}
.ocs-setting-items input:not([type="checkbox"], [type="radio"]) {
  width: 100%;
}
.ocs-setting-buttons {
  display: grid;
  grid-template-columns: auto auto;
  gap: 8px;
}
.ocs-setting-buttons input {
  outline: none;
  border: none;
  cursor: pointer;
}
.ocs-setting-buttons [type="submit"],
.ocs-setting-buttons [type="reset"] {
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  font-size: 12px;
}
.ocs-setting-buttons [type="submit"] {
  background: #1890ff;
  color: white;
  border: 1px solid #1890ff;
}
.ocs-setting-buttons [type="reset"] {
  background: white;
}
