body {
  /** 

边框以及主要颜色

*/
  /** 

边框以及主要颜色

*/
  /** 

字体 css

*/
  /** 尺寸设置 */
}
body .flex {
  display: flex;
  width: 100%;
}
body .flex.nowrap {
  flex-wrap: nowrap;
}
body .flex.wrap {
  flex-wrap: wrap;
}
body .flex.ac-flex-start {
  align-content: flex-start;
}
body .flex.ac-flex-end {
  align-content: flex-end;
}
body .flex.ac-center {
  align-content: center;
}
body .flex.ac-space-between {
  align-content: space-between;
}
body .flex.ac-space-around {
  align-content: space-around;
}
body .flex.ac-stretch {
  align-content: stretch;
}
body .flex.ai-flex-start {
  align-items: flex-start;
}
body .flex.ai-flex-end {
  align-items: flex-end;
}
body .flex.ai-center {
  align-items: center;
}
body .flex.ai-baseline {
  align-items: baseline;
}
body .flex.ai-stretch {
  align-items: stretch;
}
body .flex.jc-flex-start {
  justify-content: flex-start;
}
body .flex.jc-flex-end {
  justify-content: flex-end;
}
body .flex.jc-center {
  justify-content: center;
}
body .flex.jc-space-between {
  justify-content: space-between;
}
body .flex.jc-space-around {
  justify-content: space-around;
}
body .border-radius-base {
  border-radius: 4px;
}
body .border-radius-circle {
  border-radius: 20px;
}
body .border-item {
  transition: color 0.2s ease-in;
}
body .border-item.left:hover {
  transition: color 0.2s ease-out;
  color: #1890ff;
  border-left: 3px solid #1890ff;
}
body .acive.border-item.left {
  color: #1890ff;
  border-left: 3px solid #1890ff;
}
body .border-item {
  transition: color 0.2s ease-in;
}
body .border-item.left:hover {
  transition: color 0.2s ease-out;
  color: #1890ff;
  border-left: 3px solid #1890ff;
}
body .acive.border-item.left {
  color: #1890ff;
  border-left: 3px solid #1890ff;
}
body .border-item {
  transition: color 0.2s ease-in;
}
body .border-item.right:hover {
  transition: color 0.2s ease-out;
  color: #1890ff;
  border-right: 3px solid #1890ff;
}
body .acive.border-item.right {
  color: #1890ff;
  border-right: 3px solid #1890ff;
}
body .border-item {
  transition: color 0.2s ease-in;
}
body .border-item.right:hover {
  transition: color 0.2s ease-out;
  color: #1890ff;
  border-right: 3px solid #1890ff;
}
body .acive.border-item.right {
  color: #1890ff;
  border-right: 3px solid #1890ff;
}
body .border-item {
  transition: color 0.2s ease-in;
}
body .border-item.top:hover {
  transition: color 0.2s ease-out;
  color: #1890ff;
  border-top: 3px solid #1890ff;
}
body .acive.border-item.top {
  color: #1890ff;
  border-top: 3px solid #1890ff;
}
body .border-item {
  transition: color 0.2s ease-in;
}
body .border-item.top:hover {
  transition: color 0.2s ease-out;
  color: #1890ff;
  border-top: 3px solid #1890ff;
}
body .acive.border-item.top {
  color: #1890ff;
  border-top: 3px solid #1890ff;
}
body .border-item {
  transition: color 0.2s ease-in;
}
body .border-item.bottom:hover {
  transition: color 0.2s ease-out;
  color: #1890ff;
  border-bottom: 3px solid #1890ff;
}
body .acive.border-item.bottom {
  color: #1890ff;
  border-bottom: 3px solid #1890ff;
}
body .border-item {
  transition: color 0.2s ease-in;
}
body .border-item.bottom:hover {
  transition: color 0.2s ease-out;
  color: #1890ff;
  border-bottom: 3px solid #1890ff;
}
body .acive.border-item.bottom {
  color: #1890ff;
  border-bottom: 3px solid #1890ff;
}
body .border-color-base {
  color: #d9d9d9;
}
body .box-shadow-base {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
body .primary-color {
  color: #1890ff;
}
body .link-color {
  color: #1890ff;
}
body .success-color {
  color: #52c41a;
}
body .warning-color {
  color: #faad14;
}
body .error-color {
  color: #f5222d;
}
body .background-color {
  color: #f0f2f5;
}
body .ant-notification-notice-message {
  font-weight: bold;
}
body .ant-notification-notice-btn {
  float: right;
  margin-top: 0px;
}
body .ant-popover-content {
  max-width: 300px;
}
body .border-radius-base {
  border-radius: 4px;
}
body .border-radius-circle {
  border-radius: 20px;
}
body .border-item {
  transition: color 0.2s ease-in;
}
body .border-item.left:hover {
  transition: color 0.2s ease-out;
  color: #1890ff;
  border-left: 3px solid #1890ff;
}
body .acive.border-item.left {
  color: #1890ff;
  border-left: 3px solid #1890ff;
}
body .border-item {
  transition: color 0.2s ease-in;
}
body .border-item.left:hover {
  transition: color 0.2s ease-out;
  color: #1890ff;
  border-left: 3px solid #1890ff;
}
body .acive.border-item.left {
  color: #1890ff;
  border-left: 3px solid #1890ff;
}
body .border-item {
  transition: color 0.2s ease-in;
}
body .border-item.right:hover {
  transition: color 0.2s ease-out;
  color: #1890ff;
  border-right: 3px solid #1890ff;
}
body .acive.border-item.right {
  color: #1890ff;
  border-right: 3px solid #1890ff;
}
body .border-item {
  transition: color 0.2s ease-in;
}
body .border-item.right:hover {
  transition: color 0.2s ease-out;
  color: #1890ff;
  border-right: 3px solid #1890ff;
}
body .acive.border-item.right {
  color: #1890ff;
  border-right: 3px solid #1890ff;
}
body .border-item {
  transition: color 0.2s ease-in;
}
body .border-item.top:hover {
  transition: color 0.2s ease-out;
  color: #1890ff;
  border-top: 3px solid #1890ff;
}
body .acive.border-item.top {
  color: #1890ff;
  border-top: 3px solid #1890ff;
}
body .border-item {
  transition: color 0.2s ease-in;
}
body .border-item.top:hover {
  transition: color 0.2s ease-out;
  color: #1890ff;
  border-top: 3px solid #1890ff;
}
body .acive.border-item.top {
  color: #1890ff;
  border-top: 3px solid #1890ff;
}
body .border-item {
  transition: color 0.2s ease-in;
}
body .border-item.bottom:hover {
  transition: color 0.2s ease-out;
  color: #1890ff;
  border-bottom: 3px solid #1890ff;
}
body .acive.border-item.bottom {
  color: #1890ff;
  border-bottom: 3px solid #1890ff;
}
body .border-item {
  transition: color 0.2s ease-in;
}
body .border-item.bottom:hover {
  transition: color 0.2s ease-out;
  color: #1890ff;
  border-bottom: 3px solid #1890ff;
}
body .acive.border-item.bottom {
  color: #1890ff;
  border-bottom: 3px solid #1890ff;
}
body .border-color-base {
  color: #d9d9d9;
}
body .box-shadow-base {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
body .primary-color {
  color: #1890ff;
}
body .link-color {
  color: #1890ff;
}
body .success-color {
  color: #52c41a;
}
body .warning-color {
  color: #faad14;
}
body .error-color {
  color: #f5222d;
}
body .background-color {
  color: #f0f2f5;
}
body .ant-notification-notice-message {
  font-weight: bold;
}
body .ant-notification-notice-btn {
  float: right;
  margin-top: 0px;
}
body .ant-popover-content {
  max-width: 300px;
}
body .font-v1 {
  font-weight: bold;
  font-size: 26px;
  color: #2c3e50;
}
body .font-v2 {
  font-weight: 600;
  font-size: 15px;
  color: #2c3e50;
}
body .font-v3 {
  font-weight: 400;
  font-size: 14px;
  color: #2c3e50;
}
body .font-v4 {
  font-weight: 400;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.45);
}
body .font-disable {
  font-weight: 400;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.25);
}
body .font-nowrap {
  white-space: nowrap;
}
body .margin-2 {
  margin: 2px;
}
body .margin-4 {
  margin: 4px;
}
body .margin-6 {
  margin: 6px;
}
body .margin-8 {
  margin: 8px;
}
body .margin-10 {
  margin: 10px;
}
body .margin-12 {
  margin: 12px;
}
body .margin-14 {
  margin: 14px;
}
body .margin-16 {
  margin: 16px;
}
body .margin-18 {
  margin: 18px;
}
body .margin-20 {
  margin: 20px;
}
body .margin-22 {
  margin: 22px;
}
body .margin-24 {
  margin: 24px;
}
body .padding-2 {
  padding: 2px;
}
body .padding-4 {
  padding: 4px;
}
body .padding-6 {
  padding: 6px;
}
body .padding-8 {
  padding: 8px;
}
body .padding-10 {
  padding: 10px;
}
body .padding-12 {
  padding: 12px;
}
body .padding-14 {
  padding: 14px;
}
body .padding-16 {
  padding: 16px;
}
body .padding-18 {
  padding: 18px;
}
body .padding-20 {
  padding: 20px;
}
body .padding-22 {
  padding: 22px;
}
body .padding-24 {
  padding: 24px;
}
body .height-2 {
  height: 2px;
}
body .height-4 {
  height: 4px;
}
body .height-6 {
  height: 6px;
}
body .height-8 {
  height: 8px;
}
body .height-10 {
  height: 10px;
}
body .height-12 {
  height: 12px;
}
body .height-14 {
  height: 14px;
}
body .height-16 {
  height: 16px;
}
body .height-18 {
  height: 18px;
}
body .height-20 {
  height: 20px;
}
body .height-22 {
  height: 22px;
}
body .height-24 {
  height: 24px;
}
body .width-2 {
  width: 2px;
}
body .width-4 {
  width: 4px;
}
body .width-6 {
  width: 6px;
}
body .width-8 {
  width: 8px;
}
body .width-10 {
  width: 10px;
}
body .width-12 {
  width: 12px;
}
body .width-14 {
  width: 14px;
}
body .width-16 {
  width: 16px;
}
body .width-18 {
  width: 18px;
}
body .width-20 {
  width: 20px;
}
body .width-22 {
  width: 22px;
}
body .width-24 {
  width: 24px;
}
body .space-2 > * {
  margin-left: 2px;
}
body .space-2 > *:nth-child(1) {
  margin-left: 0px;
}
body .space-4 > * {
  margin-left: 4px;
}
body .space-4 > *:nth-child(1) {
  margin-left: 0px;
}
body .space-6 > * {
  margin-left: 6px;
}
body .space-6 > *:nth-child(1) {
  margin-left: 0px;
}
body .space-8 > * {
  margin-left: 8px;
}
body .space-8 > *:nth-child(1) {
  margin-left: 0px;
}
body .space-10 > * {
  margin-left: 10px;
}
body .space-10 > *:nth-child(1) {
  margin-left: 0px;
}
body .space-12 > * {
  margin-left: 12px;
}
body .space-12 > *:nth-child(1) {
  margin-left: 0px;
}
body .space-14 > * {
  margin-left: 14px;
}
body .space-14 > *:nth-child(1) {
  margin-left: 0px;
}
body .space-16 > * {
  margin-left: 16px;
}
body .space-16 > *:nth-child(1) {
  margin-left: 0px;
}
body .space-18 > * {
  margin-left: 18px;
}
body .space-18 > *:nth-child(1) {
  margin-left: 0px;
}
body .space-20 > * {
  margin-left: 20px;
}
body .space-20 > *:nth-child(1) {
  margin-left: 0px;
}
body .space-22 > * {
  margin-left: 22px;
}
body .space-22 > *:nth-child(1) {
  margin-left: 0px;
}
body .space-24 > * {
  margin-left: 24px;
}
body .space-24 > *:nth-child(1) {
  margin-left: 0px;
}
body .margin-left-2 {
  margin-left: 2px;
}
body .margin-left-4 {
  margin-left: 4px;
}
body .margin-left-6 {
  margin-left: 6px;
}
body .margin-left-8 {
  margin-left: 8px;
}
body .margin-left-10 {
  margin-left: 10px;
}
body .margin-left-12 {
  margin-left: 12px;
}
body .margin-left-14 {
  margin-left: 14px;
}
body .margin-left-16 {
  margin-left: 16px;
}
body .margin-left-18 {
  margin-left: 18px;
}
body .margin-left-20 {
  margin-left: 20px;
}
body .margin-left-22 {
  margin-left: 22px;
}
body .margin-left-24 {
  margin-left: 24px;
}
body .margin-right-2 {
  margin-right: 2px;
}
body .margin-right-4 {
  margin-right: 4px;
}
body .margin-right-6 {
  margin-right: 6px;
}
body .margin-right-8 {
  margin-right: 8px;
}
body .margin-right-10 {
  margin-right: 10px;
}
body .margin-right-12 {
  margin-right: 12px;
}
body .margin-right-14 {
  margin-right: 14px;
}
body .margin-right-16 {
  margin-right: 16px;
}
body .margin-right-18 {
  margin-right: 18px;
}
body .margin-right-20 {
  margin-right: 20px;
}
body .margin-right-22 {
  margin-right: 22px;
}
body .margin-right-24 {
  margin-right: 24px;
}
body .margin-top-2 {
  margin-top: 2px;
}
body .margin-top-4 {
  margin-top: 4px;
}
body .margin-top-6 {
  margin-top: 6px;
}
body .margin-top-8 {
  margin-top: 8px;
}
body .margin-top-10 {
  margin-top: 10px;
}
body .margin-top-12 {
  margin-top: 12px;
}
body .margin-top-14 {
  margin-top: 14px;
}
body .margin-top-16 {
  margin-top: 16px;
}
body .margin-top-18 {
  margin-top: 18px;
}
body .margin-top-20 {
  margin-top: 20px;
}
body .margin-top-22 {
  margin-top: 22px;
}
body .margin-top-24 {
  margin-top: 24px;
}
body .margin-bottom-2 {
  margin-bottom: 2px;
}
body .margin-bottom-4 {
  margin-bottom: 4px;
}
body .margin-bottom-6 {
  margin-bottom: 6px;
}
body .margin-bottom-8 {
  margin-bottom: 8px;
}
body .margin-bottom-10 {
  margin-bottom: 10px;
}
body .margin-bottom-12 {
  margin-bottom: 12px;
}
body .margin-bottom-14 {
  margin-bottom: 14px;
}
body .margin-bottom-16 {
  margin-bottom: 16px;
}
body .margin-bottom-18 {
  margin-bottom: 18px;
}
body .margin-bottom-20 {
  margin-bottom: 20px;
}
body .margin-bottom-22 {
  margin-bottom: 22px;
}
body .margin-bottom-24 {
  margin-bottom: 24px;
}
body .padding-left-2 {
  padding-left: 2px;
}
body .padding-left-4 {
  padding-left: 4px;
}
body .padding-left-6 {
  padding-left: 6px;
}
body .padding-left-8 {
  padding-left: 8px;
}
body .padding-left-10 {
  padding-left: 10px;
}
body .padding-left-12 {
  padding-left: 12px;
}
body .padding-left-14 {
  padding-left: 14px;
}
body .padding-left-16 {
  padding-left: 16px;
}
body .padding-left-18 {
  padding-left: 18px;
}
body .padding-left-20 {
  padding-left: 20px;
}
body .padding-left-22 {
  padding-left: 22px;
}
body .padding-left-24 {
  padding-left: 24px;
}
body .padding-right-2 {
  padding-right: 2px;
}
body .padding-right-4 {
  padding-right: 4px;
}
body .padding-right-6 {
  padding-right: 6px;
}
body .padding-right-8 {
  padding-right: 8px;
}
body .padding-right-10 {
  padding-right: 10px;
}
body .padding-right-12 {
  padding-right: 12px;
}
body .padding-right-14 {
  padding-right: 14px;
}
body .padding-right-16 {
  padding-right: 16px;
}
body .padding-right-18 {
  padding-right: 18px;
}
body .padding-right-20 {
  padding-right: 20px;
}
body .padding-right-22 {
  padding-right: 22px;
}
body .padding-right-24 {
  padding-right: 24px;
}
body .padding-top-2 {
  padding-top: 2px;
}
body .padding-top-4 {
  padding-top: 4px;
}
body .padding-top-6 {
  padding-top: 6px;
}
body .padding-top-8 {
  padding-top: 8px;
}
body .padding-top-10 {
  padding-top: 10px;
}
body .padding-top-12 {
  padding-top: 12px;
}
body .padding-top-14 {
  padding-top: 14px;
}
body .padding-top-16 {
  padding-top: 16px;
}
body .padding-top-18 {
  padding-top: 18px;
}
body .padding-top-20 {
  padding-top: 20px;
}
body .padding-top-22 {
  padding-top: 22px;
}
body .padding-top-24 {
  padding-top: 24px;
}
body .padding-bottom-2 {
  padding-bottom: 2px;
}
body .padding-bottom-4 {
  padding-bottom: 4px;
}
body .padding-bottom-6 {
  padding-bottom: 6px;
}
body .padding-bottom-8 {
  padding-bottom: 8px;
}
body .padding-bottom-10 {
  padding-bottom: 10px;
}
body .padding-bottom-12 {
  padding-bottom: 12px;
}
body .padding-bottom-14 {
  padding-bottom: 14px;
}
body .padding-bottom-16 {
  padding-bottom: 16px;
}
body .padding-bottom-18 {
  padding-bottom: 18px;
}
body .padding-bottom-20 {
  padding-bottom: 20px;
}
body .padding-bottom-22 {
  padding-bottom: 22px;
}
body .padding-bottom-24 {
  padding-bottom: 24px;
}
body,
html,
#app {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
#app {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background-color: white;
  /** 

边框以及主要颜色

*/
  /** 

边框以及主要颜色

*/
  /** 

字体 css

*/
  /** 尺寸设置 */
}
#app .flex {
  display: flex;
  width: 100%;
}
#app .flex.nowrap {
  flex-wrap: nowrap;
}
#app .flex.wrap {
  flex-wrap: wrap;
}
#app .flex.ac-flex-start {
  align-content: flex-start;
}
#app .flex.ac-flex-end {
  align-content: flex-end;
}
#app .flex.ac-center {
  align-content: center;
}
#app .flex.ac-space-between {
  align-content: space-between;
}
#app .flex.ac-space-around {
  align-content: space-around;
}
#app .flex.ac-stretch {
  align-content: stretch;
}
#app .flex.ai-flex-start {
  align-items: flex-start;
}
#app .flex.ai-flex-end {
  align-items: flex-end;
}
#app .flex.ai-center {
  align-items: center;
}
#app .flex.ai-baseline {
  align-items: baseline;
}
#app .flex.ai-stretch {
  align-items: stretch;
}
#app .flex.jc-flex-start {
  justify-content: flex-start;
}
#app .flex.jc-flex-end {
  justify-content: flex-end;
}
#app .flex.jc-center {
  justify-content: center;
}
#app .flex.jc-space-between {
  justify-content: space-between;
}
#app .flex.jc-space-around {
  justify-content: space-around;
}
#app .border-radius-base {
  border-radius: 4px;
}
#app .border-radius-circle {
  border-radius: 20px;
}
#app .border-item {
  transition: color 0.2s ease-in;
}
#app .border-item.left:hover {
  transition: color 0.2s ease-out;
  color: #1890ff;
  border-left: 3px solid #1890ff;
}
#app .acive.border-item.left {
  color: #1890ff;
  border-left: 3px solid #1890ff;
}
#app .border-item {
  transition: color 0.2s ease-in;
}
#app .border-item.left:hover {
  transition: color 0.2s ease-out;
  color: #1890ff;
  border-left: 3px solid #1890ff;
}
#app .acive.border-item.left {
  color: #1890ff;
  border-left: 3px solid #1890ff;
}
#app .border-item {
  transition: color 0.2s ease-in;
}
#app .border-item.right:hover {
  transition: color 0.2s ease-out;
  color: #1890ff;
  border-right: 3px solid #1890ff;
}
#app .acive.border-item.right {
  color: #1890ff;
  border-right: 3px solid #1890ff;
}
#app .border-item {
  transition: color 0.2s ease-in;
}
#app .border-item.right:hover {
  transition: color 0.2s ease-out;
  color: #1890ff;
  border-right: 3px solid #1890ff;
}
#app .acive.border-item.right {
  color: #1890ff;
  border-right: 3px solid #1890ff;
}
#app .border-item {
  transition: color 0.2s ease-in;
}
#app .border-item.top:hover {
  transition: color 0.2s ease-out;
  color: #1890ff;
  border-top: 3px solid #1890ff;
}
#app .acive.border-item.top {
  color: #1890ff;
  border-top: 3px solid #1890ff;
}
#app .border-item {
  transition: color 0.2s ease-in;
}
#app .border-item.top:hover {
  transition: color 0.2s ease-out;
  color: #1890ff;
  border-top: 3px solid #1890ff;
}
#app .acive.border-item.top {
  color: #1890ff;
  border-top: 3px solid #1890ff;
}
#app .border-item {
  transition: color 0.2s ease-in;
}
#app .border-item.bottom:hover {
  transition: color 0.2s ease-out;
  color: #1890ff;
  border-bottom: 3px solid #1890ff;
}
#app .acive.border-item.bottom {
  color: #1890ff;
  border-bottom: 3px solid #1890ff;
}
#app .border-item {
  transition: color 0.2s ease-in;
}
#app .border-item.bottom:hover {
  transition: color 0.2s ease-out;
  color: #1890ff;
  border-bottom: 3px solid #1890ff;
}
#app .acive.border-item.bottom {
  color: #1890ff;
  border-bottom: 3px solid #1890ff;
}
#app .border-color-base {
  color: #d9d9d9;
}
#app .box-shadow-base {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
#app .primary-color {
  color: #1890ff;
}
#app .link-color {
  color: #1890ff;
}
#app .success-color {
  color: #52c41a;
}
#app .warning-color {
  color: #faad14;
}
#app .error-color {
  color: #f5222d;
}
#app .background-color {
  color: #f0f2f5;
}
#app .ant-notification-notice-message {
  font-weight: bold;
}
#app .ant-notification-notice-btn {
  float: right;
  margin-top: 0px;
}
#app .ant-popover-content {
  max-width: 300px;
}
#app .border-radius-base {
  border-radius: 4px;
}
#app .border-radius-circle {
  border-radius: 20px;
}
#app .border-item {
  transition: color 0.2s ease-in;
}
#app .border-item.left:hover {
  transition: color 0.2s ease-out;
  color: #1890ff;
  border-left: 3px solid #1890ff;
}
#app .acive.border-item.left {
  color: #1890ff;
  border-left: 3px solid #1890ff;
}
#app .border-item {
  transition: color 0.2s ease-in;
}
#app .border-item.left:hover {
  transition: color 0.2s ease-out;
  color: #1890ff;
  border-left: 3px solid #1890ff;
}
#app .acive.border-item.left {
  color: #1890ff;
  border-left: 3px solid #1890ff;
}
#app .border-item {
  transition: color 0.2s ease-in;
}
#app .border-item.right:hover {
  transition: color 0.2s ease-out;
  color: #1890ff;
  border-right: 3px solid #1890ff;
}
#app .acive.border-item.right {
  color: #1890ff;
  border-right: 3px solid #1890ff;
}
#app .border-item {
  transition: color 0.2s ease-in;
}
#app .border-item.right:hover {
  transition: color 0.2s ease-out;
  color: #1890ff;
  border-right: 3px solid #1890ff;
}
#app .acive.border-item.right {
  color: #1890ff;
  border-right: 3px solid #1890ff;
}
#app .border-item {
  transition: color 0.2s ease-in;
}
#app .border-item.top:hover {
  transition: color 0.2s ease-out;
  color: #1890ff;
  border-top: 3px solid #1890ff;
}
#app .acive.border-item.top {
  color: #1890ff;
  border-top: 3px solid #1890ff;
}
#app .border-item {
  transition: color 0.2s ease-in;
}
#app .border-item.top:hover {
  transition: color 0.2s ease-out;
  color: #1890ff;
  border-top: 3px solid #1890ff;
}
#app .acive.border-item.top {
  color: #1890ff;
  border-top: 3px solid #1890ff;
}
#app .border-item {
  transition: color 0.2s ease-in;
}
#app .border-item.bottom:hover {
  transition: color 0.2s ease-out;
  color: #1890ff;
  border-bottom: 3px solid #1890ff;
}
#app .acive.border-item.bottom {
  color: #1890ff;
  border-bottom: 3px solid #1890ff;
}
#app .border-item {
  transition: color 0.2s ease-in;
}
#app .border-item.bottom:hover {
  transition: color 0.2s ease-out;
  color: #1890ff;
  border-bottom: 3px solid #1890ff;
}
#app .acive.border-item.bottom {
  color: #1890ff;
  border-bottom: 3px solid #1890ff;
}
#app .border-color-base {
  color: #d9d9d9;
}
#app .box-shadow-base {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
#app .primary-color {
  color: #1890ff;
}
#app .link-color {
  color: #1890ff;
}
#app .success-color {
  color: #52c41a;
}
#app .warning-color {
  color: #faad14;
}
#app .error-color {
  color: #f5222d;
}
#app .background-color {
  color: #f0f2f5;
}
#app .ant-notification-notice-message {
  font-weight: bold;
}
#app .ant-notification-notice-btn {
  float: right;
  margin-top: 0px;
}
#app .ant-popover-content {
  max-width: 300px;
}
#app .font-v1 {
  font-weight: bold;
  font-size: 26px;
  color: #2c3e50;
}
#app .font-v2 {
  font-weight: 600;
  font-size: 15px;
  color: #2c3e50;
}
#app .font-v3 {
  font-weight: 400;
  font-size: 14px;
  color: #2c3e50;
}
#app .font-v4 {
  font-weight: 400;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.45);
}
#app .font-disable {
  font-weight: 400;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.25);
}
#app .font-nowrap {
  white-space: nowrap;
}
#app .margin-2 {
  margin: 2px;
}
#app .margin-4 {
  margin: 4px;
}
#app .margin-6 {
  margin: 6px;
}
#app .margin-8 {
  margin: 8px;
}
#app .margin-10 {
  margin: 10px;
}
#app .margin-12 {
  margin: 12px;
}
#app .margin-14 {
  margin: 14px;
}
#app .margin-16 {
  margin: 16px;
}
#app .margin-18 {
  margin: 18px;
}
#app .margin-20 {
  margin: 20px;
}
#app .margin-22 {
  margin: 22px;
}
#app .margin-24 {
  margin: 24px;
}
#app .padding-2 {
  padding: 2px;
}
#app .padding-4 {
  padding: 4px;
}
#app .padding-6 {
  padding: 6px;
}
#app .padding-8 {
  padding: 8px;
}
#app .padding-10 {
  padding: 10px;
}
#app .padding-12 {
  padding: 12px;
}
#app .padding-14 {
  padding: 14px;
}
#app .padding-16 {
  padding: 16px;
}
#app .padding-18 {
  padding: 18px;
}
#app .padding-20 {
  padding: 20px;
}
#app .padding-22 {
  padding: 22px;
}
#app .padding-24 {
  padding: 24px;
}
#app .height-2 {
  height: 2px;
}
#app .height-4 {
  height: 4px;
}
#app .height-6 {
  height: 6px;
}
#app .height-8 {
  height: 8px;
}
#app .height-10 {
  height: 10px;
}
#app .height-12 {
  height: 12px;
}
#app .height-14 {
  height: 14px;
}
#app .height-16 {
  height: 16px;
}
#app .height-18 {
  height: 18px;
}
#app .height-20 {
  height: 20px;
}
#app .height-22 {
  height: 22px;
}
#app .height-24 {
  height: 24px;
}
#app .width-2 {
  width: 2px;
}
#app .width-4 {
  width: 4px;
}
#app .width-6 {
  width: 6px;
}
#app .width-8 {
  width: 8px;
}
#app .width-10 {
  width: 10px;
}
#app .width-12 {
  width: 12px;
}
#app .width-14 {
  width: 14px;
}
#app .width-16 {
  width: 16px;
}
#app .width-18 {
  width: 18px;
}
#app .width-20 {
  width: 20px;
}
#app .width-22 {
  width: 22px;
}
#app .width-24 {
  width: 24px;
}
#app .space-2 > * {
  margin-left: 2px;
}
#app .space-2 > *:nth-child(1) {
  margin-left: 0px;
}
#app .space-4 > * {
  margin-left: 4px;
}
#app .space-4 > *:nth-child(1) {
  margin-left: 0px;
}
#app .space-6 > * {
  margin-left: 6px;
}
#app .space-6 > *:nth-child(1) {
  margin-left: 0px;
}
#app .space-8 > * {
  margin-left: 8px;
}
#app .space-8 > *:nth-child(1) {
  margin-left: 0px;
}
#app .space-10 > * {
  margin-left: 10px;
}
#app .space-10 > *:nth-child(1) {
  margin-left: 0px;
}
#app .space-12 > * {
  margin-left: 12px;
}
#app .space-12 > *:nth-child(1) {
  margin-left: 0px;
}
#app .space-14 > * {
  margin-left: 14px;
}
#app .space-14 > *:nth-child(1) {
  margin-left: 0px;
}
#app .space-16 > * {
  margin-left: 16px;
}
#app .space-16 > *:nth-child(1) {
  margin-left: 0px;
}
#app .space-18 > * {
  margin-left: 18px;
}
#app .space-18 > *:nth-child(1) {
  margin-left: 0px;
}
#app .space-20 > * {
  margin-left: 20px;
}
#app .space-20 > *:nth-child(1) {
  margin-left: 0px;
}
#app .space-22 > * {
  margin-left: 22px;
}
#app .space-22 > *:nth-child(1) {
  margin-left: 0px;
}
#app .space-24 > * {
  margin-left: 24px;
}
#app .space-24 > *:nth-child(1) {
  margin-left: 0px;
}
#app .margin-left-2 {
  margin-left: 2px;
}
#app .margin-left-4 {
  margin-left: 4px;
}
#app .margin-left-6 {
  margin-left: 6px;
}
#app .margin-left-8 {
  margin-left: 8px;
}
#app .margin-left-10 {
  margin-left: 10px;
}
#app .margin-left-12 {
  margin-left: 12px;
}
#app .margin-left-14 {
  margin-left: 14px;
}
#app .margin-left-16 {
  margin-left: 16px;
}
#app .margin-left-18 {
  margin-left: 18px;
}
#app .margin-left-20 {
  margin-left: 20px;
}
#app .margin-left-22 {
  margin-left: 22px;
}
#app .margin-left-24 {
  margin-left: 24px;
}
#app .margin-right-2 {
  margin-right: 2px;
}
#app .margin-right-4 {
  margin-right: 4px;
}
#app .margin-right-6 {
  margin-right: 6px;
}
#app .margin-right-8 {
  margin-right: 8px;
}
#app .margin-right-10 {
  margin-right: 10px;
}
#app .margin-right-12 {
  margin-right: 12px;
}
#app .margin-right-14 {
  margin-right: 14px;
}
#app .margin-right-16 {
  margin-right: 16px;
}
#app .margin-right-18 {
  margin-right: 18px;
}
#app .margin-right-20 {
  margin-right: 20px;
}
#app .margin-right-22 {
  margin-right: 22px;
}
#app .margin-right-24 {
  margin-right: 24px;
}
#app .margin-top-2 {
  margin-top: 2px;
}
#app .margin-top-4 {
  margin-top: 4px;
}
#app .margin-top-6 {
  margin-top: 6px;
}
#app .margin-top-8 {
  margin-top: 8px;
}
#app .margin-top-10 {
  margin-top: 10px;
}
#app .margin-top-12 {
  margin-top: 12px;
}
#app .margin-top-14 {
  margin-top: 14px;
}
#app .margin-top-16 {
  margin-top: 16px;
}
#app .margin-top-18 {
  margin-top: 18px;
}
#app .margin-top-20 {
  margin-top: 20px;
}
#app .margin-top-22 {
  margin-top: 22px;
}
#app .margin-top-24 {
  margin-top: 24px;
}
#app .margin-bottom-2 {
  margin-bottom: 2px;
}
#app .margin-bottom-4 {
  margin-bottom: 4px;
}
#app .margin-bottom-6 {
  margin-bottom: 6px;
}
#app .margin-bottom-8 {
  margin-bottom: 8px;
}
#app .margin-bottom-10 {
  margin-bottom: 10px;
}
#app .margin-bottom-12 {
  margin-bottom: 12px;
}
#app .margin-bottom-14 {
  margin-bottom: 14px;
}
#app .margin-bottom-16 {
  margin-bottom: 16px;
}
#app .margin-bottom-18 {
  margin-bottom: 18px;
}
#app .margin-bottom-20 {
  margin-bottom: 20px;
}
#app .margin-bottom-22 {
  margin-bottom: 22px;
}
#app .margin-bottom-24 {
  margin-bottom: 24px;
}
#app .padding-left-2 {
  padding-left: 2px;
}
#app .padding-left-4 {
  padding-left: 4px;
}
#app .padding-left-6 {
  padding-left: 6px;
}
#app .padding-left-8 {
  padding-left: 8px;
}
#app .padding-left-10 {
  padding-left: 10px;
}
#app .padding-left-12 {
  padding-left: 12px;
}
#app .padding-left-14 {
  padding-left: 14px;
}
#app .padding-left-16 {
  padding-left: 16px;
}
#app .padding-left-18 {
  padding-left: 18px;
}
#app .padding-left-20 {
  padding-left: 20px;
}
#app .padding-left-22 {
  padding-left: 22px;
}
#app .padding-left-24 {
  padding-left: 24px;
}
#app .padding-right-2 {
  padding-right: 2px;
}
#app .padding-right-4 {
  padding-right: 4px;
}
#app .padding-right-6 {
  padding-right: 6px;
}
#app .padding-right-8 {
  padding-right: 8px;
}
#app .padding-right-10 {
  padding-right: 10px;
}
#app .padding-right-12 {
  padding-right: 12px;
}
#app .padding-right-14 {
  padding-right: 14px;
}
#app .padding-right-16 {
  padding-right: 16px;
}
#app .padding-right-18 {
  padding-right: 18px;
}
#app .padding-right-20 {
  padding-right: 20px;
}
#app .padding-right-22 {
  padding-right: 22px;
}
#app .padding-right-24 {
  padding-right: 24px;
}
#app .padding-top-2 {
  padding-top: 2px;
}
#app .padding-top-4 {
  padding-top: 4px;
}
#app .padding-top-6 {
  padding-top: 6px;
}
#app .padding-top-8 {
  padding-top: 8px;
}
#app .padding-top-10 {
  padding-top: 10px;
}
#app .padding-top-12 {
  padding-top: 12px;
}
#app .padding-top-14 {
  padding-top: 14px;
}
#app .padding-top-16 {
  padding-top: 16px;
}
#app .padding-top-18 {
  padding-top: 18px;
}
#app .padding-top-20 {
  padding-top: 20px;
}
#app .padding-top-22 {
  padding-top: 22px;
}
#app .padding-top-24 {
  padding-top: 24px;
}
#app .padding-bottom-2 {
  padding-bottom: 2px;
}
#app .padding-bottom-4 {
  padding-bottom: 4px;
}
#app .padding-bottom-6 {
  padding-bottom: 6px;
}
#app .padding-bottom-8 {
  padding-bottom: 8px;
}
#app .padding-bottom-10 {
  padding-bottom: 10px;
}
#app .padding-bottom-12 {
  padding-bottom: 12px;
}
#app .padding-bottom-14 {
  padding-bottom: 14px;
}
#app .padding-bottom-16 {
  padding-bottom: 16px;
}
#app .padding-bottom-18 {
  padding-bottom: 18px;
}
#app .padding-bottom-20 {
  padding-bottom: 20px;
}
#app .padding-bottom-22 {
  padding-bottom: 22px;
}
#app .padding-bottom-24 {
  padding-bottom: 24px;
}
#layout-header {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
  background-color: white;
  -webkit-app-region: drag;
  padding: 0px 10px;
  -moz-user-select: none;
  /* Firefox私有属性 */
  -webkit-user-select: none;
  /* WebKit内核私有属性 */
  -ms-user-select: none;
  /* IE私有属性(IE10及以后) */
  -khtml-user-select: none;
  /* KHTML内核私有属性 */
  -o-user-select: none;
  /* Opera私有属性 */
  user-select: none;
  /* CSS3属性 */
}
#layout-header li {
  -webkit-app-region: no-drag;
}
#layout-content {
  height: 100%;
  background-color: white;
  overflow: auto;
  -moz-user-select: none;
  /* Firefox私有属性 */
  -webkit-user-select: none;
  /* WebKit内核私有属性 */
  -ms-user-select: none;
  /* IE私有属性(IE10及以后) */
  -khtml-user-select: none;
  /* KHTML内核私有属性 */
  -o-user-select: none;
  /* Opera私有属性 */
  user-select: none;
  /* CSS3属性 */
}
#layout-footer {
  padding: 0px 10px;
  text-align: left;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.056);
  background-color: #e6e6e6;
  -moz-user-select: none;
  /* Firefox私有属性 */
  -webkit-user-select: none;
  /* WebKit内核私有属性 */
  -ms-user-select: none;
  /* IE私有属性(IE10及以后) */
  -khtml-user-select: none;
  /* KHTML内核私有属性 */
  -o-user-select: none;
  /* Opera私有属性 */
  user-select: none;
  /* CSS3属性 */
}
.un-select {
  -moz-user-select: none;
  /* Firefox私有属性 */
  -webkit-user-select: none;
  /* WebKit内核私有属性 */
  -ms-user-select: none;
  /* IE私有属性(IE10及以后) */
  -khtml-user-select: none;
  /* KHTML内核私有属性 */
  -o-user-select: none;
  /* Opera私有属性 */
  user-select: none;
  /* CSS3属性 */
}
.ant-popover-content {
  max-width: 300px;
}
/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 12px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
  box-shadow: inset006pxrgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: inset006pxrgba(0, 0, 0, 0.3);
}
