    [v-cloak] {
        display: none;
    }

    #app {
        top: 20px;
        position: fixed;
        z-index: 2000;
    }

    .sk-main {
        position: fixed;
        top: 20px;
        width: 100%;
        z-index: -2000;
    }

    .sk-content {
        margin: 0 auto;
        width: 50%;
    }


    #selector {
        z-index: 5000;
    }

    .label {
        line-height: 40px;
        float: right;
    }

    .setting-form {

        width: 300px;
    }

    .form-switch {

        padding: 10px;
    }


    .load-error .el-loading-spinner i,
    .load-error .el-loading-spinner .el-loading-text {
        color: white;
    }

    .setting-radio {
        padding: 12px 5px 12px 5px;

    }
    
        .my-alert.success {
        background-color: #f0f9eb;
        color: #67c23a;
    }

    .my-alert.error {
        background-color: #fef0f0;
        color: #f56c6c;
    }

    .my-alert {
        width: 100%;
        padding: 8px 16px;
        margin: 0;
        box-sizing: border-box;
        border-radius: 4px;
        position: relative;
        overflow: hidden;
        opacity: 1;
        display: flex;
        align-items: center;
        background-color: #f4f4f5;
        color: #909399;
        transition: opacity .2s;
    }
    
    .el-input-number__decrease, .el-input-number__increase {
        position: absolute;
        z-index: 1;
        top: 1px;
        width: 40px;
        height: auto;
        text-align: center;
        background: #f5f7fa;
        color: #606266;
        cursor: pointer;
        font-size: 13px;
    }
    
 