body {
    @import (multiple) "./flex.less";
    @import (multiple) "./ant.less";
    @import (multiple) "./font.less";
    @import (multiple) "./layout.less";
    @import (multiple) "./size.less";
}

body,
html,
#app {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#app {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    background-color: white;

    @import (multiple) "./flex.less";
    @import (multiple) "./ant.less";
    @import (multiple) "./font.less";
    @import (multiple) "./layout.less";
    @import (multiple) "./size.less";
}

#layout-header {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    background-color: white;
    -webkit-app-region: drag;
    padding: 0px 10px;

    li {
        -webkit-app-region: no-drag;
    }

    .un-select();
}

#layout-content {
    height: 100%;
    background-color: white;
    overflow: auto;
    .un-select();
}

#layout-footer {
    padding: 0px 10px;
    text-align: left;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.056);
    background-color: rgb(230, 230, 230);
    .un-select();
}

.un-select {
    -moz-user-select: none;
    /* Firefox私有属性 */
    -webkit-user-select: none;
    /* WebKit内核私有属性 */
    -ms-user-select: none;
    /* IE私有属性(IE10及以后) */
    -khtml-user-select: none;
    /* KHTML内核私有属性 */
    -o-user-select: none;
    /* Opera私有属性 */
    user-select: none;
    /* CSS3属性 */
}

.ant-popover-content {
    max-width: 300px;
}

/* 设置滚动条的样式 */
::-webkit-scrollbar {
    width: 10px;
    height: 8px;
    
}
/* 滚动槽 */
::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow   : inset 0 0 5px rgba(230, 230, 230, 0.2);
    background   : #fafafa;
    
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: inset006pxrgba(0, 0, 0, 0.3);
    
}
