<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      <div style="text-align: left;width: fit-content;margin: 0 auto;">
        <div>
          <span>教程：</span>
          <a href="https://enncy.github.io/online-course-script/script" class="btn">脚本教程</a>
          <a href="https://enncy.github.io/online-course-script/app" class="btn">软件教程</a>
          <a href="https://enncy.github.io/online-course-script/answerer-wrappers" class="btn">自动答题教程</a>
        </div>
        <div>
          <span>安装：</span>
          <a href="https://greasyfork.org/zh-CN/scripts/442075-ocs-%E7%BD%91%E8%AF%BE%E5%8A%A9%E6%89%8B" class="btn">脚本安装1(greasyfork)</a>
          <a href="https://scriptcat.org/script-show-page/367" class="btn">脚本安装2(脚本猫)</a>
          <a href="https://enncy.github.io/online-course-script/app-version" class="btn">软件安装</a>
        </div>
        <div>
          <span>其他：</span>
          <a href="https://enncy.github.io/online-course-script/" class="btn">🏠主页</a>
          <a href="https://enncy.github.io/online-course-script/feat-list" class="btn">🎉功能列表</a>
          <a href="https://enncy.github.io/online-course-script/FQA" class="btn">🙋‍♂️疑问解答</a>
          <a href="https://enncy.github.io/online-course-script/sponsors" class="btn">❤️赞助名单</a>
          <a href="https://enncy.github.io/online-course-script/#%E4%BA%A4%E6%B5%81%E7%BE%A4" class="btn">🐧交流群</a>
          <a href="https://github.com/enncy/online-course-script/blob/3.0/CHANGELOG.md" class="btn">📄更新日志</a>
          <a href="https://enncy.github.io/online-course-script/api" class="btn">📖开发文档</a>
          <a href="https://github.com/enncy/online-course-script/" class="btn">😺脚本源码</a>
        </div>
      </div>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
  </body>
</html>
