.tkTopic {
  display: none;
}
/**

panel style

*/
ocs-panel {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
  background: white;
  z-index: 99999999;
  border-radius: 4px;
  text-align: left;
  box-shadow: 0px 2px 6px #848484;
}
ocs-panel .ocs-panel-header {
  display: flex;
  padding: 6px 4px;
  border-bottom: 1px solid #c6c6c6;
}
ocs-panel .ocs-panel-header .title {
  cursor: pointer !important;
  font-size: 14px;
  margin: 0px 8px;
  padding: 0;
  white-space: nowrap;
}
ocs-panel .ocs-panel-header .title.active {
  font-weight: bold;
}
ocs-panel .ocs-panel-header.hide {
  display: none;
}
ocs-panel .ocs-panel-container {
  font-size: 12px;
  padding: 4px;
  max-height: 400px;
  overflow: auto;
}
ocs-panel .ocs-panel-container ul li {
  list-style: inside;
}
ocs-panel .ocs-panel-container.hide {
  display: none;
}
ocs-panel .draggable {
  cursor: move;
}
ocs-panel.hide {
  width: 48px;
  height: 48px;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 16px grey;
  border-radius: 10px;
  min-width: unset;
  bottom: 10%;
  left: 5%;
  top: unset;
}
.ocs-panel-footer {
  font-size: 1px;
  color: #c5c5c5;
  border-top: 1px solid #c6c6c6;
  margin-top: 8px;
  text-align: right;
  padding: 0px 4px;
}
.ocs-panel-footer.hide {
  border-top: none;
}
.ocs-panel-footer.hide > .hide-btn {
  display: none;
}
.ocs-panel-footer.hide > .ocs-tip {
  text-align: center;
  white-space: nowrap;
  position: absolute;
  top: 64px;
  left: -32px;
}
.ocs-setting-items {
  display: grid;
  grid-template-columns: min-content auto;
  grid-row-gap: 8px;
  white-space: nowrap;
  font-size: 12px;
}
.ocs-setting-items label {
  padding-right: 4px;
}
.ocs-setting-items label::after {
  content: ": ";
}
.ocs-setting-items select {
  font-size: 12px;
  outline: none;
  border: none;
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  width: 100%;
}
.ocs-setting-items input {
  outline: none;
  border: none;
  width: 100%;
  border-bottom: 1px solid #e4e4e4;
  background: #fbfbfb;
  border-radius: 4px;
  padding-left: 8px;
}
.ocs-setting-items input:not([type="checkbox"], [type="radio"]) {
  width: 100%;
}
.ocs-setting-buttons {
  display: grid;
  grid-template-columns: auto auto;
  gap: 8px;
  margin-top: 12px;
}
.ocs-setting-buttons input {
  outline: none;
  border: none;
  cursor: pointer;
}
.ocs-setting-buttons [type="submit"],
.ocs-setting-buttons [type="reset"] {
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  font-size: 12px;
}
.ocs-setting-buttons [type="submit"] {
  background: #1890ff;
  color: white;
  border: 1px solid #1890ff;
}
.ocs-setting-buttons [type="reset"] {
  background: white;
}
.terminal {
  width: 300px;
  height: 300px;
  max-width: 300px;
  max-height: 300px;
  overflow: auto;
  background-color: black;
  padding: 12px 6px;
  color: white;
}
.terminal level {
  padding: 0px 2px;
  border-radius: 2px;
}
.terminal level.info {
  background-color: #2196f3a3;
}
.terminal level.warn {
  background-color: #ffc107db;
}
.terminal level.error {
  background-color: #f36c71cc;
}
.terminal level.debug {
  background-color: #9e9e9ec4;
}
/** 搜索结果  */
#search-results a {
  text-decoration: underline;
}
#search-results .search-results-container {
  padding-left: 12px;
}
#search-results .search-results-item {
  margin-bottom: 8px;
}
.ocs-icon {
  width: 64px;
  height: 64px;
  position: relative;
  top: -16px;
  left: -12px;
  display: none;
}
